/*
 * (C) Copyright 2017 Rockchip Electronics Co., Ltd
 *
 * SPDX-License-Identifier:     GPL-2.0+
 */

/dts-v1/;

#include "rk3128.dtsi"

/ {
	model = "Game Simulator Board";
	compatible = "rockchip,rk3128-gamesim", "rockchip,rk3128";

	chosen {
		stdout-path = &uart0;
	};

	memory {
		device_type = "memory";
		reg = <0x60000000 0x40000000>;
	};

	config {
		pinctrl-names = "default";
		pinctrl-0 = <&select_key &pm_enable>;

		download,gpio = <&gpio3 RK_PC6 GPIO_ACTIVE_HIGH>;
		pm-enable,gpio = <&gpio2 RK_PD5 GPIO_ACTIVE_HIGH>;
	};

	vcc_io: vcc-io {
		compatible = "regulator-fixed";
		regulator-name = "vcc_io";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-always-on;
		regulator-boot-on;
	};

	vcc_sys: vcc-sys {
		compatible = "regulator-fixed";
		regulator-name = "vcc_sys";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
	};

	vcc_lcd: vcc-lcd {
		compatible = "regulator-fixed";
		regulator-name = "vcc_lcd";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		vin-supply = <&vcc_io>;
	};

	vdd_arm: vdd-arm {
		compatible = "pwm-regulator";
		pwms = <&pwm1 0 5000 0>;
		regulator-name = "vdd_arm";
		regulator-min-microvolt = <880000>;
		regulator-max-microvolt = <1380000>;
		regulator-init-microvolt = <1100000>;
		regulator-early-min-microvolt = <1100000>;
		regulator-always-on;
		regulator-boot-on;
		pwm-supply = <&vcc_sys>;
		pwm-dutycycle-range = <100 0>;
		pwm-dutycycle-unit = <100>;
	};

	vdd_log: vdd-log {
		compatible = "pwm-regulator";
		pwms = <&pwm2 0 5000 0>;
		regulator-name = "vdd_log";
		regulator-min-microvolt = <900000>;
		regulator-max-microvolt = <1400000>;
		regulator-init-microvolt = <1100000>;
		regulator-early-min-microvolt = <1100000>;
		regulator-always-on;
		regulator-boot-on;
		pwm-supply = <&vcc_sys>;
		pwm-dutycycle-range = <100 0>;
		pwm-dutycycle-unit = <100>;
	};
};

&cpu0 {
	cpu-supply = <&vdd_arm>;
};

&uart0 {
	u-boot,dm-pre-reloc;
	status = "okay";
};

&psci {
	status = "okay";
};

&u2phy {
	status = "okay";
};

&u2phy_otg {
	status = "okay";
};

&u2phy_host {
	status = "okay";
};

&usb_host_ehci {
	status = "okay";
};

&usb_host_ohci {
	status = "okay";
};

&usb_otg {
	status = "okay";
	vbus-supply = <&vcc_sys>;
};

&sdmmc {
	u-boot,dm-pre-reloc;
	status = "okay";

	supports-highspeed;
	supports-sd;
	broken-cd;

	card-detect-delay = <200>;
	ignore-pm-notify;
	keep-power-in-suspend;
	vmmc-supply = <&vcc_io>;

	cd-gpios = <&gpio1 0x11 0x00>;

	cap-mmc-highspeed;
	cap-sd-highspeed;

	max-frequency = <37500000>;
	num-slots = <1>;

	bus-width = <1>;
};

&sfc {
	u-boot,dm-pre-reloc;
	status = "okay";
};

&vop {
	status = "okay";
};

&video_phy {
	status = "okay";
};

&pwm1 {
	status = "okay";
};

&pwm2 {
	status = "okay";
};

&saradc {
	status = "okay";
};

&psci {
	status = "okay";
};

&dmc {
	center-supply = <&vdd_log>;
	u-boot,dm-pre-reloc;
};

&grf {
	u-boot,dm-pre-reloc;
};

&cru {
	u-boot,dm-pre-reloc;
};

&pinctrl {
	lcd_enable: lcd-enable {
		rockchip,pins = <RK_GPIO1 RK_PB4 RK_FUNC_0 &pcfg_pull_none>;
	};

	lcd_reset: lcd-reset {
		rockchip,pins = <RK_GPIO0 RK_PD0 RK_FUNC_0 &pcfg_pull_none>;
	};

	select_key: select-key {
		rockchip,pins = <RK_GPIO3 RK_PC6 RK_FUNC_0 &pcfg_pull_default>;
	};

	pm_enable: pm-enable {
		rockchip,pins = <RK_GPIO2 RK_PD5 RK_FUNC_0 &pcfg_pull_default>;
	};
};
